#nprogress .bar {
  background: #343aa4 !important;
  height: 5px;
}

#nprogress .spinner-icon {
  border-top-color: #343aa4 !important;
  border-left-color: #343aa4 !important;
}

.nav-link {
  padding: 10px;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  transition: background 0.1s ease-out;
}

.nav-link:hover {
  background: #edf2f7;
}

.nav-link-active {
  color: #343aa4 !important;
}

.font-me {
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  font-size: 1rem;
}

.hero-grid {
  display: grid;
  grid-template-columns: 20rem 1fr;
}

@media (max-width: 960px) {
  .hero-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 14rem 1fr;
  }
}
