@import "./components/_markdown.css";
@import "./components/_highlight.css";
@import "./components/_emoji.css";
@import "./components/_zigzagdivider.css";
@import "./utilities/_helper.css";
@import "./utilities/_typography.css";

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
